<div class="c-product-card" (click)="onView()">
    <div class="c-card-image">
        <img [src]="imageUrl" [alt]="product.name">
    </div>
    <div class="c-card-body">
        <h3 class="c-card-title">{{ product.name }}</h3>
        <p class="c-card-subtitle">{{ product.description }}</p>
        <p class="c-card-price">{{ product.price }} €</p>
        <img
            class="c-card-exit-icon"
            src="/icons/contenedor-de-basura.png"
            alt="Contenedor de basura"
            (click)="onDelete($event)"
            aria-label="Eliminar producto"
        >
    </div>
</div>
