@use 'sass:list';
@use '../../../scss/01_utilities/variables' as vars;

:host {
    display: block;
}

.product-card {
    background-color: var(--cyb-sys-color-white-9);
    border-radius: var(--cyb-sys-border-radius-5);
    overflow: hidden;
    box-shadow: var(--cyb-sys-shadow-2);
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid var(--cyb-sys-color-white-5);
    height: 100%;
    /* Ensure card takes full height of grid cell if needed */
    cursor: pointer;

    &:hover {
        transform: translateY(-4px);
        box-shadow: var(--cyb-sys-shadow-3);
    }

    .card-image {
        height: 200px;
        width: 100%;
        background-color: var(--cyb-sys-color-white-3);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        padding: var(--cyb-sys-padding-9);

        .card-title {
            font-size: var(--cyb-sys-font-size-5);
            font-weight: var(--cyb-sys-font-weight-7);
            margin: 0 0 var(--cyb-sys-margin-2) 0;
            color: var(--cyb-sys-color-black-2);
        }

        .card-subtitle {
            font-size: var(--cyb-sys-font-size-3);
            color: var(--cyb-sys-color-black-8);
            margin: 0 0 var(--cyb-sys-margin-9) 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .card-price {
            font-size: var(--cyb-sys-font-size-4);
            font-weight: var(--cyb-sys-font-weight-7);
            color: var(--cyb-sys-color-black-2);
            margin-bottom: var(--cyb-sys-margin-5);
        }

        .card-actions {
            display: flex;
            gap: var(--cyb-sys-padding-7);

            .btn-action {
                flex: 1;
                padding: var(--cyb-sys-padding-5) 0;
                background-color: var(--cyb-sys-color-white-9);
                border: 1px solid var(--cyb-sys-color-white-3);
                border-radius: var(--cyb-sys-border-radius-3);
                color: var(--cyb-sys-color-black-5);
                font-family: 'Nunito', sans-serif;
                font-size: var(--cyb-sys-font-size-3);
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    background-color: var(--cyb-sys-color-white-6);
                    border-color: var(--cyb-sys-color-white-1);
                }
            }
        }
    }
}
