<div class="login-container">
    <div class="form">
        <div class="form__card">
            <h2 class="form__title">Inicia sesión</h2>
            <form (submit)="login($event)">
                <div class="form-group">
                    <label for="username" class="form__label">Usuario</label>
                    <input type="text" id="username" class="form__input" placeholder="Ingresa tu usuario" [(ngModel)]="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password" class="form__label">Contraseña</label>
                    <input type="password" id="password" class="form__input" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password">
                </div>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
                <button type="submit" class="form__button">Ingresar</button>
            </form>
        </div>
    </div>
</div>