@use 'sass:list';
@use '../../../scss/01_utilities/variables' as vars;

:host {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: var(--cyb-sys-color-white-7);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.products-content {
    flex: 1;
    padding: var(--cyb-sys-padding-12) var(--cyb-sys-padding-13);
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
    color: var(--cyb-sys-color-black-2);
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--cyb-sys-margin-10);

    h1 {
        font-family: 'Cinzel', serif;
        font-size: var(--cyb-sys-font-size-10);
        font-weight: var(--cyb-sys-font-weight-4);
        color: var(--cyb-sys-color-black-2);
        margin: 0;
    }

    .btn-new-product {
        background-color: var(--cyb-sys-color-blue-gray-7);
        color: var(--cyb-sys-color-black-4);
        border: none;
        padding: var(--cyb-sys-padding-6) var(--cyb-sys-padding-9);
        font-size: var(--cyb-sys-font-size-4);
        cursor: pointer;
        border-radius: var(--cyb-sys-border-radius-3);
        font-family: 'Nunito', sans-serif;
        font-weight: var(--cyb-sys-font-weight-6);
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--cyb-sys-color-light-blue-7);
        }
    }
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--cyb-sys-padding-10); // 32px
}