<div class="container">
    <c-sidebar></c-sidebar>
    <main class="products-content">
        <header class="products-header">
            <h1>Gestión de productos</h1>
            <button class="btn-new-product" (click)="addProduct()">+ Nuevo producto</button>
        </header>

        <section class="products-grid">
            <c-product-card *ngFor="let product of products" [product]="product" (edit)="editProduct($event)"
                (view)="viewProduct($event)"
                (delete)="deleteProduct($event)">
            </c-product-card>
        </section>
    </main>
</div>
