<div class="c-sidebar">

  <div class="c-sidebar__logo">
    <img [src]="'/icons/' + logo" alt="Logo">
  </div>

  @for (item of sideNavItems; track $index) {
    <a
      class="c-sidebar__link"
      [routerLink]="item.route"
      routerLinkActive="g--is-active"
      [routerLinkActiveOptions]="{ exact: item.route === '/admin' }"
    >
      <img [src]="'/icons/' + item.icon">
      <span>{{ item.name }}</span>
      
    </a>
  }

  <div class="c-sidebar__logout">
    <button type="button" class="c-sidebar__logout-button" (click)="logout()">
      <span>Salir</span>
      <img src="./icons/salida-de-emergencia.png" alt="Salir">
    </button>
  </div>


</div>
