.container {
  display: flex;
  min-height: 100vh;
  background: var(--cyb-sys-color-beige-9);
}

.users {
  flex: 1;
  padding: var(--cyb-sys-padding-10) var(--cyb-sys-padding-11);
  background: var(--cyb-sys-color-white-9);
  color: var(--cyb-sys-color-black-2);
}

.users__section {
  margin-top: var(--cyb-sys-padding-2);
}

.users__section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--cyb-sys-padding-6);
  margin-bottom: var(--cyb-sys-padding-10);
}

@media (max-width: 960px) {
  .users {
    padding: var(--cyb-sys-padding-9) var(--cyb-sys-padding-8);
  }
}
